.places__link {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  opacity: 1;
  transform: opacity .5s;
}

.places__link:hover {
  opacity: .8;
}
