.cover__title {
  margin: 0 auto;
  padding-top: 245px;
  padding-bottom: 32px;
  max-width: 560px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
  position: relative;
  z-index: 1;
}
