.place__item {
  display: grid;
  grid-template-columns: min-content 484;
  grid-template-rows: min-content min-content;
  gap: 48px 40px;
  padding-bottom: 80px;
}

.place__item:last-child {
  padding-bottom: 0;
}
